- contribution = @notification.contribution
p Hello, <strong>#{contribution.user.display_name}</strong>!
p
  | Your contribution for the project #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} has been successfully verified.
  | At the moment, you and other #{contribution.project.total_contributions} people are on the way to making this project a reality.
p This email serves as a  <strong>receipt of your contribution</strong>.
= render partial: 'contribution_data', locals: {contribution: contribution}
