- contribution = @notification.contribution
p Hello, <strong>#{contribution.user.display_name}</strong>!
p
  | Well done! The project #{link_to(contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink))} has been successfully funded through #{CatarseSettings[:company_name]}.
  | You were among our #{contribution.project.total_contributions} contributors) .
p This email serves as a <strong>final receipt of your contribution</strong>.
= render partial: 'contribution_data', locals: {contribution: contribution}

