- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hello, #{user.name}!
br
br
| Thank you for sending us the project #{link_to project.name, project_link, target: '__blank'}
br/
br/
| From now, our project team will be <strong>evaluating all content</strong> you have placed on the page and (in a maximum of 4 days)
'  you will receive and email whether it has been <strong>Approved, Denied</strong> or whether to continue <strong>in analysis</strong> for a while.
br
br
strong What does that mean?
br/
br/
strong Page was refused
br/
| Your project does not have the profile #{company_name} and / or we find information that violate our rules. This page cannot be published on the platform.
br/
br/
strong Page continues in analysis
br/
| The project has the profile #{company_name} and complies with the rules, only that the page is not yet ready to be published on the platform. Receive our comments , tips and suggestions. Finalize the issues in the project page and let our support agent when you want it to do a reassessment.
br/
br/
strong Page has been approved
br/
| Let's move on, start the collection is up to you! Choose the best date and publish the page of your project on the platform.
br/
br/
strong
  | To accompany the change of status of the project page #{link_to project.name, project_link, target: '__blank'} keep an eye on the inbox of your email and your project page.
br/
br/
| Remembering that you can ask questions us at any time responding directly to this message or by e- mail #{mail_to CatarseSettings[:email_projects]}
br/
br/
|Regards,
br/
= company_name
