- contribution = @notification.contribution
- detail = contribution.details.ordered.first
|Hello, #{contribution.user.name}!
br
br
|You started a contribution for the project #{link_to contribution.project.name, project_by_slug_url(permalink: contribution.project.permalink)}, but it did not reach the target set on our platform.
br
br
| <strong>If you did NOT complete the contribution</strong>, please disregard this email.
br
br
| <strong>If you completed your contribution</strong>, but did not receive confirmation from 100% Project yet, you should receive it in the coming days a receipt. Soon after, as the project was not funded, you will receive a notification with details on the reimbursement of your contribution.
br
br
| Please take note that your contribution reference is: <strong>#{detail.payment_id}</strong>
br
br
| If you have any questions, please contact us by replying to this message or by email #{mail_to CatarseSettings[:email_contact]}
br
br
| Warm regards,
br
| #{CatarseSettings[:company_name]}
