- user = @notification.user
- project = @notification.project

- project_link = edit_project_url(project)
- company_name = CatarseSettings[:company_name]

|Hello, #{user.decorate.display_name}.
br/
br/
| <strong>The project #{link_to project.name, project_link, target: '__blank'} is now public can now receive contributions!</strong>
br/
br/
| It is very important to plan for a campaign. But if you did not have plan earlier, do not waste time - start now! We are here to help you! To talk about communication strategies with our team and receive suggestions on how to work on your campaign, reply to this email or send a message to #{mail_to CatarseSettings[:email_projects]}.
br/
br/
/| Confira nosso #{link_to 'GUIA DE REALIZADORES', guides_url} para saber mais sobre como conduzir uma campanha!
/br/
/br/
| Remember that <strong>you are responsible for promoting the campaign and spreading the word about your project.</strong> It is your network that will provide much of the support!
br/
br/
strong A short list of what can and can not be changed while the project is published publicly:
br/
br/
strong Can
br/
| - Change the primary video of your campaign
br/
| - Send news directly to your supporters
br/
| - Download reports
br/
| - Edit the description of your project
br/
| - Create new rewards
br/
| - Change content and value of rewards that no one has chosen yet
/br/
/| - Change the limit of a particular reward
/br/
/| - Exhaust rewards (to the limited number of supporters X)
br/
| - Change thumbnail and headline of your project
br/
br/
strong Cannot
br/
| - Change the funding target
br/
| - Change the campaign duration
br/
| - Change rewards for which there are already contributions
br/
br/
| Please </strong>look for emails from:</strong>
'  #{mail_to CatarseSettings[:email_projects]} and #{mail_to CatarseSettings[:email_contact]} in case any messages fall into your spam email folders.
br/
/br/
/| Regards,
br/
| The #{company_name} team wishes you all the best for your campaign!!!!
