.footer-full-signature-text.fontsize-small #{t('layouts.footer.titles.sitemap')}
a.w-hidden-small.w-hidden-tiny.link-footer href="#{hello_path}"  About us
a.link-footer href="#{jobs_path}"  Join us
a.w-hidden-small.w-hidden-tiny.link-footer href="#{start_path}"  Start a project
a.link-footer href="https://100percentproject.zendesk.com/hc/en-us/sections/203811198-Refund-Return-Policy"  Refund Policy
a.link-footer href="https://100percentproject.zendesk.com/hc/en-us/categories/201626407-Legal"  Terms & Privacy Policy
/- if current_user.try(:adress_state)
/  a.w-hidden-tiny.link-footer href="#{explore_path(anchor: ('near_of/' + current_user.address_state))}" #{t('layouts.footer.links.near')}
/a.w-hidden-tiny.link-footer href="#{explore_path(anchor: "recommended")}"  #{t('layouts.footer.links.recommended')}
//a.w-hidden-tiny.link-footer href="#{explore_path(anchor: "expiring")}"  #{t('layouts.footer.links.expiring')}
/a.w-hidden-tiny.link-footer href="#{explore_path(anchor: "recent")}"  #{t('layouts.footer.links.recents')}
