| Hello
- if @resource.name
  | , #{@resource.name}!
br
br
| Forgot your password? No problem! Reset by clicking here
= link_to('set new password', edit_password_url(@resource, reset_password_token: @token))
br
| If a problem occurs, reply to this message or contact us directly via e-mail #{mail_to ::CatarseSettings[:email_contact]}
br
br
| Regards,
br
= CatarseSettings[:company_name]
